@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Serif 4", sans-serif, serif;
}

nav {
  width: calc(100vw - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  z-index: 4;
}
nav .title-block h1 {
  font-size: 1.6rem;
}
nav .title-block h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: -0.4rem;
  font-style: italic;
}
nav .link-block {
  padding-right: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
nav .link-block .burger-btn, nav .link-block .burger-dropdown {
  display: none;
}
nav .link-block a {
  text-decoration: none;
}
nav .link-block a h2 {
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
  border-bottom: 2px solid black;
}
nav .link-block a h2:hover {
  border-bottom-color: lightblue;
}
@media (max-width: 700px) {
  nav .link-block a {
    display: none;
  }
  nav .link-block .burger-dropdown {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    padding: 1rem;
    width: calc(100vw - 3rem);
    background-color: black;
  }
  nav .link-block .burger-dropdown button {
    background-color: transparent;
    border: none;
  }
  nav .link-block .burger-dropdown a {
    display: block;
  }
  nav .link-block .burger-dropdown a h2 {
    color: white;
    border-bottom: 2px solid white;
  }
  nav .link-block .burger-btn {
    display: block;
    background-color: transparent;
    border: none;
  }
}

body {
  z-index: 1;
}
body div#root {
  z-index: 2;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

main.home {
  z-index: 3;
}
main.home .image-header {
  position: relative;
  text-align: center;
  width: 100vw;
}
main.home .image-header img {
  width: 100vw;
  margin: 0;
  padding: 0;
  max-height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}
main.home .image-header img.mobile {
  display: none;
}
@media (max-width: 700px) {
  main.home .image-header img.mobile {
    display: block;
  }
  main.home .image-header img.desktop {
    display: none;
  }
}
main.home .image-header h1 {
  color: white;
  position: absolute;
  top: calc(50% - 1.5vw);
  width: 100vw;
  font-size: 7vw;
  height: 7.5vw;
  transform: translate(0, -50%);
  font-weight: 400;
}
main.home .image-header h1 em {
  font-weight: 700;
}
main.home .introduction-contain {
  padding-top: 1rem;
  width: 100vw;
}
main.home .introduction-contain p {
  width: 30rem;
  max-width: 80vw;
  font-size: 1.2rem;
  margin: 0 auto;
}
main.home .introduction-contain h2 {
  width: 30rem;
  max-width: 80vw;
  margin-left: calc(50vw - min(15rem, 40vw));
  margin-top: 0.5rem;
  font-size: 2rem;
}
main.home .introduction-contain .project-contain {
  width: 30rem;
  max-width: 80vw;
  margin-left: calc(50vw - min(15rem, 40vw));
  margin-top: 0.5rem;
}
main.home .introduction-contain .project-contain a {
  color: orangered;
}/*# sourceMappingURL=index.css.map */